

#container {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 50%;
}

#map {
  height: 100%;
  width: 100%;
  right: 0px;
  bottom: 0px;
  position: absolute;
}

.skip-link {
  background-color: white;
  position: absolute;
  top: 2%;
  left: 52%;
  width: auto;
  z-index: -1;
}

.skip-link:focus {
  z-index: 100;
}

.options-box {
  background: violet;
  height: 100%;
  width: 48%;
  text-align: center;
  padding-left: 1%;
  padding-right: 1%;
  padding-bottom: 1%;
}

h1 {
  margin: 0;
  padding-top: 2%;
  font-family: cursive;
}

h2 {
  margin: 0;
  padding-bottom: 2%;
  font-family: sans-serif;
  font-size: 1.2em;
}

#price-select {
  margin-right: 6%;
  background: white;
}

#rating-select {
  margin-left: 6%;
  background: white;
}

#maincontent {
  margin-top: 2%;
  padding-top: 2%;
  background-color: white;
  max-height: 98%;
  width: 100%;
  font-family: sans-serif;
}

#maincontent h2 {
  margin-top: 2%;
  font-size: 14px;
}

.listitem {
  margin: 5%;
  border-style: solid;
  border-width: 2px;
  border-color: lightgray;
  list-style-type: none;
}

h3 {
  color: black;
  margin-bottom:1%;
}

a {
  text-decoration: none;
}

#maincontent h3:hover {
  color: purple;
  text-decoration: underline;
}

p {
  margin: 0;
  padding: 1%;
}

#reviewsButton {
  margin-bottom: 2%;
}

#reviewsBox {
  height: 300px;
  overflow: scroll;
}

.showReview {
  display: none;
}

.hideReview {
  display: block;
}

#venues-list {
  margin: 0;
  padding: 0;
  height: 100%;
  padding-bottom: 2%;
}

.infocontent {
  text-align: center;
}

#mapButton {
  display: none;
}

@media screen and (max-width: 650px) {
  .options-box {
    width: 100%;
    height: 70%;
  }

  #container {
    width: 100%;
    height: 30%;
    top: 70%;
  }

  select {
    padding: 2%;
  }

  .skip-link {
    top: auto;
    bottom: 5%;
    left: 2%;
  }

  #reviewsButton {
    padding: 4%;
    color: red;
    font-weight: bold;
  }

  #maincontent {
    padding-bottom: 50%;
  }

  #mapButton {
    display: block;
    background: orange;
    position: absolute;
    bottom: 80%;
    z-index: 100;
    margin-top: 1%;
    margin-left: 1%;
    padding-top: 2%;
    padding-bottom: 2%;
    font-weight: bold;
  }

.hideMap {
    display: none;
  }

  #maincontent h3:focus {
    color: purple;
  }

  #venues-list {
    height: 70%;
  }

  .listitem {
    padding: 1%;
  }
}

@media screen and (min-width: 651px) and (max-width: 950px) {
  #container {
    width: 50%;
  }

  .options-box {
    width: 48%;
    height: 100%;
  }

  header {
    font-size: 1.3em;
  }

  select {
    padding: 2%;
    font-size: 0.7em;
    margin: 2%;
  }

  #reviewsButton {
    padding: 4%;
    color: red;
    font-weight: bold;
  }

  #maincontent h3 {
    text-decoration: underline;
    color: purple;
  }

  html, body, #root {
    height: 100%;
  }


}
