.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#map {
  height: 100%;
  left: 372px;
  right: 0px;
  bottom:0px;
  position: absolute;
}

.options-box {
  background: violet;
  border: 1px solid #999;
  border-radius: 3px;
  height: auto;
  line-height: 35px;
  padding: 10px 10px 30px 10px;
  text-align: center;
  width: 350px;
}

h1 {
  margin: 0;
  background-color: violet;
  font-family: cursive;
}

h2 {
  margin: 0;
  font-family: Arial;
  font-size: 1.2em;
}

#price-select {
  margin-right: 4%;
}

#rating-select {
  margin-left: 4%;
}

#maincontent {
  background-color: white;
  height: 500px;
  width: auto;
  overflow: auto;
}

h5 {
  margin: 0;
  margin-top: 2%;
}

ul {
}

.listitem {
  border: 1px solid #999;
  text-align: left;
  margin: 5%;
}

#infoContainer {
  width: 360px;
  height: 500px;

}

#venueDetails {
  height: 200px;
}

#yelpBox {
  width: 360px;
  height: 300px;
  overflow: scroll;
}

#yelpImage {
  max-width: 80%;
}

#yelpReview {
  width: 100%;
}

#venues-list {
  padding: 0;
  height: auto;
}
